<div class="container-fluid">
    <br>
    <br>
    <form method="POST" action="/auth/signup">
        <br>

        <label class="radio">Please Input Your Info</b></label>
        <input name="username" placeholder="username" class="form-control" autofocus="autofocus">
        <br>
        <input name="password" placeholder="password" class="form-control" >
        <input type="submit" value="sign Up" class="btn btn-primary">

    </form>
    <a class="btn btn-primary"  href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=690021527776-te0rhgc7pn70h6rrg1t01tkajok6oc3v.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&redirect_uri=http%3A%2F%2Flocalhost:8080%2Fauth%2Fgoogle-signup">
        Login with Google
    </a>


</div>
