
<!-- Login -->
<div class="modal animated fadeIn" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="login()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | translate}}</span>
                    </button>
                    <h4 class="modal-title">{{'rename' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'enter_new_name_for' | translate}} <b>{{singleSelection() && singleSelection().model.name}}</b></label>
                    <input class="form-control" ng-model="singleSelection().tempModel.name" autofocus="autofocus">

                    <div ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="apiMiddleware.apiHandler.inprocess">{{"cancel" | translate}}</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="apiMiddleware.apiHandler.inprocess">{{'rename' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal animated fadeIn" id="rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="rename()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | translate}}</span>
                    </button>
                    <h4 class="modal-title">{{'rename' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'enter_new_name_for' | translate}} <b>{{singleSelection() && singleSelection().model.name}}</b></label>
                    <input class="form-control" ng-model="singleSelection().tempModel.name" autofocus="autofocus">

                    <div ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="apiMiddleware.apiHandler.inprocess">{{"cancel" | translate}}</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="apiMiddleware.apiHandler.inprocess">{{'rename' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="path-selector">
    <div class="panel panel-primary mt10 mb0">
        <div class="panel-body">
            <div class="detail-sources">
                <div class="like-code mr5"><b>{{"selection" | translate}}:</b>
                    <span ng-include="'selected-files-msg'"></span>
                </div>
            </div>
            <div class="detail-sources">
                <div class="like-code mr5">
                    <b>{{"destination" | translate}}:</b> {{ getSelectedPath() }}
                </div>
                <a href="" class="label label-primary" ng-click="openNavigator(fileNavigator.currentPath)">
                    {{'change' | translate}}
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="error-bar">
    <div class="label label-danger error-msg pull-left animated fadeIn" ng-show="apiMiddleware.apiHandler.error">
        <i class="glyphicon glyphicon-remove-circle"></i>
        <span>{{apiMiddleware.apiHandler.error}}</span>
    </div>
</script>

<script type="text/ng-template" id="selected-files-msg">
    <span ng-show="temps.length == 1">
    {{singleSelection().model.name}}
  </span>
    <span ng-show="temps.length > 1">
    {{'these_elements' | translate:totalSelecteds()}}
    <a href="" class="label label-primary" ng-click="showDetails = !showDetails">
      {{showDetails ? '-' : '+'}} {{'details' | translate}}
    </a>
  </span>
    <div ng-show="temps.length > 1 &amp;&amp; showDetails">
        <ul class="selected-file-details">
            <li ng-repeat="tempItem in temps">
                <b>{{tempItem.model.name}}</b>
            </li>
        </ul>
    </div>
</script>
